.controls-country {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__input {
    color: orange;
    font-size: 2rem;
    margin: 3rem auto;
    width: 40%;
    height: 5rem;
    border-radius: 3rem;
    border: 0.2rem solid #f8e7e7;
    outline: none;
    padding: 1px 20px
}